//
//  Production.xcconfig
//  TodayMood
//
//  Created by Kanz on 2020/03/08.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CLIENT_ID = U8CWNrnu6HRXoYsKoT0EKc0Zw4rgv7kwghCgDcYn
CLIENT_SECRET = sKirtEHb2XQ9Z5YNQIr7lIPp6IQRGwvK5XFvovbOD1TOlKOgmmrcABJTxZVL2Ks130nGatG4pEZg13NRoe7oWEdjwOoe3k76fyFgQ3DOMlsK404ISkUvhYHKMQxy6tA5
BASE_URL = https:\/\/api.5boon.me
