<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209677401952-pu2q9vq5j2ml6gl6k92ap4p5kgc89jfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209677401952-pu2q9vq5j2ml6gl6k92ap4p5kgc89jfm</string>
	<key>API_KEY</key>
	<string>AIzaSyCd4UsmFyk0UagzV3ldbBFRuqxMrfAGgeM</string>
	<key>GCM_SENDER_ID</key>
	<string>209677401952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oboon.TodayMood</string>
	<key>PROJECT_ID</key>
	<string>boon-f9af9</string>
	<key>STORAGE_BUCKET</key>
	<string>boon-f9af9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209677401952:ios:f67820cc23628bf826a805</string>
	<key>DATABASE_URL</key>
	<string>https://boon-f9af9.firebaseio.com</string>
</dict>
</plist>